<div class="home-container">
  <div class="home-header">
    <div class="title">
      <h1>Now showing...</h1>
      <span>Movies in Channel ˅ </span>
    </div>
    <div>
      <img ngSrc="/img/png/avatar.png" alt="Perfil" width="52" height="78" />
    </div>
  </div>
  <section class="presentation">
    <img
      ngSrc="/img/png/now-showing.png"
      alt="now-showing"
      height="430"
      width="340"
      priority
    />
  </section>
  <section class="all-movies">
    <div class="all-movies-title">
      <h2>All Movies</h2>
      <a routerLink="/all">View all</a>
    </div>
    <div class="images">
      <div>
        <img ngSrc="/img/png/movie-1.png" width="94" height="140" alt="" />
        <p>Movie Name</p>
        <span>00h 00m</span>
      </div>
      <div>
        <img ngSrc="/img/png/movie-1.png" width="94" height="140" alt="" />
        <p>Movie Name</p>
        <span>00h 00m</span>
      </div>
      <div>
        <img ngSrc="/img/png/movie-1.png" width="94" height="140" alt="" />
        <p>Movie Name</p>
        <span>00h 00m</span>
      </div>
      <div>
        <img ngSrc="/img/png/movie-1.png" width="94" height="140" alt="" />
        <p>Movie Name</p>
        <span>00h 00m</span>
      </div>
    </div>
  </section>
</div>
